@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.gm-style-iw, .gm-style-iw-d, .gm-style-iw-a, .gm-style-iw-t {
  background: transparent !important;
  box-shadow: none !important;
  overflow: visible !important;
}

.gm-style-iw-d {
  background: transparent !important;
}

.gm-style-iw-t::after {
  display: none !important;
}

.gm-style-iw > button {
  display: none !important;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: white;
}
